.section{
    width: 100%;
    height: 50vh;
    background-image: url(../../assets/backSec5.png);
    background-size: cover;
    background-position: left;
    position: relative;
}

.inside{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 10%;
}

.title{
    font-size: 34px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}

.text{
    width: 70%;
    font-size: 21px;
    color: white;
    font-family: sans-serif;
}

@media screen and (max-width: 1000px){

    .section{
        height: 65vh;
        padding: 20px 0;
    }
    .inside{
        position: static;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0;
    }

    .title{
        filter: drop-shadow(0 0 1px black);
    }

    .text{
        text-align: center;
        filter: drop-shadow(0 0 1px black);
    }
}

@media screen and (max-width: 600px){
    .text{
        padding: 0;
        width: 90%;
    }
}